name: PROD Mailria-Build to ECR & Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build & push image
        run: |
          IMAGE_URI=888577043011.dkr.ecr.ap-southeast-1.amazonaws.com/gamemarket:prod-mailria-latest
          docker build \
          --build-arg NEXT_PUBLIC_TINYMCE_API_KEY=${{ secrets.NEXT_PUBLIC_TINYMCE_API_KEY }} \
          -t $IMAGE_URI .
          docker push $IMAGE_URI

      - name: SSH into EC2 and deploy
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.EC2_HOST_PROD }}
          username: ${{ secrets.EC2_USER_PROD }}
          key: ${{ secrets.EC2_SSH_KEY_PROD }}
          script: |
            aws ecr get-login-password --region ap-southeast-1 --profile ecr-prod \
            | docker login --username AWS --password-stdin 888577043011.dkr.ecr.ap-southeast-1.amazonaws.com
            cd ~/app
            docker compose pull
            docker compose up -d --remove-orphans
